body {
    background-color: black;
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  
  h1 {
    color: black;
    font-family:  'Signika', sans-serif;
    background-color: white;
  }
  
  p {
    color: white;
    margin-bottom: 50px;
    font-size: larger;
    font-family:  'Signika', sans-serif;
    text-align: center;
  }
  .she{
    display: flex;
    gap:300px;
  }
  
  .he{
  display: flex;
  gap: 300px;
  }
  .dancers {
    display: flex;
    text-align: center;
    gap: 300px;
    font-family:  'Signika', sans-serif;
    margin-bottom: 100px;
  }
  .mam {
    margin-left: 400px;
  }
  h2{
    color: white;
    font-family:  'Signika', sans-serif;
  }
  h3 {
    color: white;
    gap: 50px;
  }
  .about{
    display: flex;
  }
  .about1{
    margin-left: 100px;
    border-radius: 38px;
    background: linear-gradient(145deg, black,black);
    box-shadow:  5px 5px 35px white,
    -5px -5px 35px white;
        color: white;
  }
  .about2{
    margin-left: 500px;
    border-radius: 38px;
    background: linear-gradient(145deg, black,black);
    box-shadow:  5px 5px 35px white,
    -5px -5px 35px white;
        color: white;
        justify-content: center;
  }
  .weightloss{
    display: flex;
  }
  .weightloss1{
    margin-left: 100px;
    margin-top: 100px;
    border-radius: 38px;
    background: linear-gradient(145deg, black,black);
    box-shadow:  5px 5px 35px white,
    -5px -5px 35px white;
        color: white;
       
  }
  .weightloss2{
    margin-left: 500px;
    margin-top: 100px;
    border-radius: 38px;
    background: linear-gradient(145deg, black,black);
    box-shadow:  5px 5px 35px white,
    -5px -5px 35px white;
    color: white;
       
  }