h1 {
  text-align: center;
  font-family: cursive;
  background-color: white;
  color: black;
  margin-top: 0;
}
p {
  font-size: x-large;
}

body {
  background-color: black;
  color: white;
  font-size: large;
  gap: 80px;
}
button {
  background-color: black;
  color: white;
  margin-left: 750px;
  margin-top: 50px;
  width: 80px;
  height: 30px;
}

* {
  background-repeat: no-repeat;
  
}
body-background {
  margin-left: 100pxz;
}
.he:hover{
  transform:scale(1.1);
  transition: .5s;
  
  box-shadow: 1px 1px 35px blue, -1px -1px 1px blue;
}
@media (max-width:600px){
  .container1{
    flex-direction: column;
    padding-left: 10px;
    align-items: center;
  }
}
