body{
    background-color:black;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.form1{
    display: flex;


}
.form2{
  margin-top: 50px;
  margin-left: 150px;
  
}
.form3{
    margin-top: 50px;
    margin-left: 450px;
}
.form4{
    margin-top: 50px;
    margin-left: 150px;
}
.western1{
    display: flex;
    gap: 500px;
}
.western2{
    margin-left: 100px;
    
}
h1{
    color: white;
    font-family: cursive;
    
}
.western{
margin-top: 50px;
}
p{
    color: white;
    margin-bottom: 50px;
    font-size: larger;
    font-family: cursive;
}
button{
background-color:black;
color: white;
width: 100px;
height: 40px;
margin-top: 80px;
font-size: larger;
}
h2{
    margin-top: 10px;
    color: white;
}
.dancers{
    display: flex;
    text-align: center;
     gap:300px ;
     font-family: cursive;
     margin-bottom: 100px;
    }
.mam{
    margin-left: 400px;
}
.sir{
    
}
.forms{
    margin-top: 100px;
}
h4{
    color: white;
    text-align: center;
    font-family: cursive;
}