body {
  background-color: black;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}


h1 {
  color: black;
  font-family:  'Signika', sans-serif;
  background-color: white;
  margin-bottom: 0;
}

p {
  color: white;
  margin-bottom: 50px;
  font-size: larger;
  font-family:  'Signika', sans-serif;
  text-align: center;
}
button {
  background-color: black;
  color: white;
  width: 100px;
  height: 40px;
  margin-top: 80px;
  font-size: larger;
}
h2 {
  margin-top: 10px;
  color: white;
}
.dancers {
  display: flex;
  text-align: center;
  gap: 300px;
  font-family:  'Signika', sans-serif;
  margin-bottom: 100px;
}
.mam {
  margin-left: 400px;
}
h4 {
  color: white;
  text-align: center;
  font-family:  'Signika', sans-serif;
}
h3 {
  color: white;
}
.design:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
@media (max-width: 600px) {
  .container1 {
    flex-direction: column;
    padding-left: 10px;
    align-items: center;
  }
}
.flip-box {
  margin-top: 30px;
  background-color: transparent;
  width: 300px;
  height: 350px;
  border: 3px solid #f1f1f1;
  border-radius: 5px;
  perspective: 1000px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front,
.flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front {
  background-color: #bbb;
  color: black;
}

.flip-box-back {
  background-color: black;
  color: white;
  transform: rotateY(180deg);
}
.flex-form{
  display: flex;
  flex-direction: column;
  gap: 50px;
 
  align-items: center;
}
img{
  border-radius: 10px;
}
.she{
  display: flex;
  gap:300px;
}

.he{
display: flex;
gap: 300px;
}
.topnav {
  margin-top: 0;
  height: 30px;
  overflow: hidden;
  background-color: white;
  padding-bottom: 10px;
}

.topnav a {
  float: right;
  color: black;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  font-size: 17px;
  font-family: cursive;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color:white;
  color: black;
}
.dark-mode{
  background-color: white;
  color: black;
  
}
.light{
  background:white;
  border: solid 2px black;
  box-shadow:  5px 5px 15px black,
  -5px -5px 35px black;
}
.head{
  color: black;
}
.nava{
  border: solid 6px black;
}
button{
  margin-right: 1100px;
  padding: 10px;
  border-radius: 10px;
 
}
.btns{
  background:black;
  color: white;
}

