body{
    background-color:black;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.form1{
    display: flex;
    

}
.form2{
  margin-top: 50px;
  margin-left: 150px;
  
}
.form3{
    margin-top: 50px;
    margin-left: 450px;
}
.form4{
    margin-top: 50px;
    margin-left: 150px;
}
.western1{
    display: flex;
   
    gap: 100px;
}
.western2{
    margin-top: 50px;
  margin-left: 60px;
  text-align: center;
}
.western{
    margin-top: 50px;
    display: flex;
}
button{
    width: 160px;
    height: 50px;
    background-color:purple;
    color:black;
}
h1{
    color: white;
}
