
  /* Your existing styles here */

  body {
    background-color: black;
    color: white;
    background-size: 1550px 800px;
  }

  h1 {
    margin-top: 300px;
    font-size: 40px;
    font-family: 'Signika', sans-serif;
    margin-left: 50px;
    animation: colorChange 5s infinite;
  }

  h2 {
    text-align: center;
    background-color: white;
    color: black;
    font-size: 30px;
    width: 1600px;
    font-family: 'Signika', sans-serif;
    height: 50px;
  }

  * {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left top;
    margin: 0;
  }

  button {
    height: 30px;
    background-color: black;
    color: white;
    margin-left: 150px;
    margin-top: 30px;
    font-family: 'Abril Fatface', serif;
    font-size: 26px;
  }

  /* Media query for screens with a maximum width of 600 pixels */
  @media only screen and (max-width: 600px) {
    body {
      background-size: auto; /* Adjust background size for smaller screens */
    }

    h1 {
      margin-top: 100px; /* Adjust margin-top for smaller screens */
      font-size: 30px; /* Adjust font size for smaller screens */
      margin-left: 20px; /* Adjust margin-left for smaller screens */
    }

    h2 {
      font-size: 20px; /* Adjust font size for smaller screens */
      width: 100%; /* Make the heading take up full width on smaller screens */
    }

    button {
      margin-left: 20px; /* Adjust margin-left for smaller screens */
      margin-top: 20px; /* Adjust margin-top for smaller screens */
      font-size: 18px; /* Adjust font size for smaller screens */
    }
  }
  
