h1 {
  text-align: center;
  background-color: white;
  color: black;
  margin-top: 0;
  margin-bottom: 0;
  font-family:  'Signika', sans-serif;
}
p {
  font-size: x-large;
}

body {
  background-color: black;
  color: white;
  font-size: large;
  font-family: cursive;
  gap: 80px;
}
button {
  background-color: black;
  color: white;
  border: solid 2px white;
  border-radius: 5px;
  margin-left: 50px;
  margin-top: 50px;
  width: 80px;
  height: 30px;
}

* {
  background-repeat: no-repeat;
  
}
body-background {
  margin-left: 100pxz;
}
.he:hover{
  transform:scale(1.1);
  transition: .5s;
  
  box-shadow: 1px 1px 35px blue, -1px -1px 1px blue;
}
@media (max-width:600px){
  .container1{
    flex-direction: column;
    padding-left: 10px;
    align-items: center;
  }
}
.register-flex{
  display: flex;
  gap:50px;
}
.register{
  padding-top: 100px;
}
td{
  padding: 10px;
}
input{

  height: 25px;
  border-radius: 7px;
  border: 3px solid black;
}
select{
  height: 35px;
  border-radius: 7px;
  border: 3px solid black;

}
label{
  font-family:  'Signika', sans-serif;
}
.topnav {
  margin-top: 0;
  height: 30px;
  overflow: hidden;
  background-color: white;
  padding-bottom: 10px;
}

.topnav a {
  float: right;
  color: black;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  font-size: 17px;
  font-family: cursive;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color:white;
  color: black;
}
.video{
  text-align: center;
}
