body{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 90vh;
    background-color: antiquewhite;
}
.bird{
    background: white;
    border-radius: 50% 50% 20% 20%;
    color: white;
    width: 15px;
    height: 15px;
    animation: bird-ani 0.8s linear infinite;

  }
  .bird::after,
  .bird::before{
 content: "";
 position:absolute;
 top: 50%;
 left: 50%;

  }
  .bird::after{
    border-radius: 100% 100% 0 0;
    box-shadow: insert 0px 5px 0 white;
    width: 100px;
    height: 100px;
    margin-top: 7px;
    margin-left: 50px;
    transform-origin:100% 0;
    animation: wing 3s linear infinite;

  }

  @keyframes wing {
    50%{
      transform: rotateX(-1440deg);
    }
}
@keyframes bird-ani {
  40%{
    transform:rotateZ(2-deg) translateX(2px) translateY(10px) translateZ(0);
  }
  

800%{
  transform: rotateZ(2-deg) translateX(5px) translateY(8px) translateZ(0);
}
}